markdown
mkdocs
mkdocs-awesome-pages-plugin
mkdocs-exclude
mkdocs-macros-plugin
mkdocs-material
mkdocs-same-dir
plantuml-markdown
pymdown-extensions
python-markdown-math
mkdocstrings
mkdocstrings[python]